<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../css/trip.css">
</head>

<body>
<div class="container">

    <div class="page-header text-center">
        <h1> Your Trips </h1>
        <button href="/logout" class="button2">Logout</button>
        <button href="/booking" class="button2">Book A Trip</button>
    </div>

<div> 
    <h1><%= trip.destination %></h1>
    <span><%= trip.start %>-<%= trip.end %></span>
    <button class="button2">Create an AI-generated itinerary</button>
    <form action="invite/<%=trip._id %>" method="POST">
    <button type="submit" id="sendButton" class="button2"> Send invite to friend</button>
    <select name="invitedFriend">
    <% contacts.forEach((contact)=>{ %>
        <option value="<%=contact._id%>"><%= contact.friendName%></option>
   <% }) %>
    </select>
</form>
        <a href="../food/<%= trip.destination %>"><button class="button2">Get Nearby Food Recommendations</button></a>
</div>
        </div>
</div>

<script src="/public/js/trip.js"></script>

</body>
</html>
