<!doctype html>
<html>
<head>
    <title>The Travel Guru</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600|Nunito" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/trip.css">

</head>
  <body>

	    <div class="main-header">
	      <h1>The Travel Guru</h1>
	    </div>

	    <section class="nav-bar">
	      <h2> <a href="/profile" class="nav-1"> HOME </a></h2>
	      <h2> <a href="/booking" class="nav-2"> BOOK A TRIP </a></h2>
	      <h2> <a href="/contacts" class="nav-3"> CONTACTS </a></h2>
	      <h2> <a href="/logout"class="nav-4"> LOGOUT </a></h2>
	    </section>

    <h1 class="destinationTitle"><%= trip.destination %></h1>

    <div class="stuff">
      
      <a href="/submitrequest/<%=trip._id%>"><button class="button-13" role="button" id="itinerary"> Create an Itinerary </button></a>
      <a href="../food/<%= trip.destination %>"><button class="button-13">Food Recommendations</button></a>
      <form>
        <div class="friend">
            <select name="invitedFriend" class="select-13">
          <% contacts.forEach((contact)=>{ %>
              <option value="<%=contact._id%>"><%= contact.friendName%></option>
          <% }) %>
          </select>
          <button type="submit" id="sendButton" class="button-13" role="button"> Invite Friend </button>
        </div>
      </form>
    </div>
    
    <div id="widget-holder">
      <script data-affilid="wadiyamkdemoday" src="https://widgets.kiwi.com/scripts/widget-search-iframe.js"></script>
    </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjF4bqBu5j4eX7WU_EUnvlFRTkvs8iLac&libraries=places"></script>
<script src="/js/trip.js"></script>
<script type="text/javascript" src="javascript/jquery-2.2.4.js"></script>

</body>
</html>
<!-- ***************************************************************************************************************************** -->